.flex {
    display: -webkit-flex;
    display: flex;
}

.flex-1 {
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.flex-2 {
    -webkit-flex: 2;
    flex: 2;
    min-width: 0;
}

.flex-grow-1 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}


/* flex-direction 属性决定主轴的方向（即项目的排列方向）。  */

.flex-row {
    flex-direction: row;
    /*主轴为水平方向，起点在左端*/
}

.flex-row-reverse {
    flex-direction: row-reverse;
    /*主轴为水平方向，起点在右端*/
}

.flex-col {
    flex-direction: column;
    /*主轴为垂直方向，起点在上沿*/
}

.flex-col-reverse {
    flex-direction: column-reverse;
    /*主轴为垂直方向，起点在下沿*/
}


/*justify-content 属性定义了项目在主轴上的对齐方式。*/

.flex-left {
    justify-content: flex-start;
    /*左对齐*/
}

.flex-center {
    justify-content: center;
    /*水平居中*/
}

.flex-right {
    justify-content: flex-end;
    /*右对齐*/
}

.flex-between {
    justify-content: space-between;
    /*两端对齐，项目之间的间隔都相等*/
}

.flex-around {
    justify-content: space-around;
    /*每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍*/
}


/*align-items 属性定义项目在交叉轴上如何对齐。*/

.align-items-stretch {
    align-items: stretch;
    /*（默认值）：如果项目未设置高度或设为auto，将占满整个容器的高度*/
}

.align-items-baseline {
    align-items: baseline;
    /*项目的第一行文字的基线对齐*/
}

.align-items-center {
    align-items: center;
    /*垂直居中*/
}

.align-items-start {
    align-items: flex-start;
    /*顶部对齐*/
}

.align-items-end {
    align-items: flex-end;
    /*底部对齐*/
}


/* Margin Helpers */


/* Padding Helpers */

.pt-3 {
    padding-top: -6px !important;
}

.pt3 {
    padding-top: 6px !important;
}

.pt4 {
    padding-top: 8px !important;
}

.pt5 {
    padding-top: 10px !important;
}

.pt6 {
    padding-top: 12px !important;
}

.pt8 {
    padding-top: 16px !important;
}

.pt10 {
    padding-top: 20px !important;
}

.pt12 {
    padding-top: 24px !important;
}

.pt15 {
    padding-top: 30px !important;
}

.pt20 {
    padding-top: 40px !important;
}

.pt25 {
    padding-top: 50px !important;
}

.pt30 {
    padding-top: 60px !important;
}

.pt35 {
    padding-top: 70px !important;
}

.ptn {
    padding-top: 0 !important;
}

.pb3 {
    padding-bottom: 6px !important;
}

.pb5 {
    padding-bottom: 10px !important;
}

.pb6 {
    padding-bottom: 12px !important;
}

.pb8 {
    padding-bottom: 16px !important;
}

.pb10 {
    padding-bottom: 20px !important;
}

.pb12 {
    padding-bottom: 24px !important;
}

.pb15 {
    padding-bottom: 30px !important;
}

.pb20 {
    padding-bottom: 40px !important;
}

.pb25 {
    padding-bottom: 50px !important;
}

.pb30 {
    padding-bottom: 60px !important;
}

.pb35 {
    padding-bottom: 70px !important;
}

.pb50 {
    padding-bottom: 100px !important;
}

.pbn {
    padding-bottom: 0 !important;
}

.pb_iphoneX_safe {
    padding-bottom: env(safe-area-inset-bottom) !important;
}

.pl3 {
    padding-left: 6px !important;
}

.pl5 {
    padding-left: 10px !important;
}

.pl6 {
    padding-left: 12px !important;
}

.pl8 {
    padding-left: 16px !important;
}

.pl9 {
    padding-left: 18px !important;
}

.pl10 {
    padding-left: 20px !important;
}

.pl12 {
    padding-left: 24px !important;
}

.pl15 {
    padding-left: 30px !important;
}

.pl16 {
    padding-left: 32px !important;
}

.pl18 {
    padding-left: 36px !important;
}

.pl20 {
    padding-left: 40px !important;
}

.pl25 {
    padding-left: 50px !important;
}

.pl30 {
    padding-left: 60px !important;
}

.pl35 {
    padding-left: 70px !important;
}

.pln {
    padding-left: 0 !important;
}

.pr3 {
    padding-right: 6px !important;
}

.pr5 {
    padding-right: 10px !important;
}

.pr6 {
    padding-right: 12px !important;
}

.pr8 {
    padding-right: 16px !important;
}

.pr10 {
    padding-right: 20px !important;
}

.pr12 {
    padding-right: 24px !important;
}

.pr15 {
    padding-right: 30px !important;
}

.pr16 {
    padding-right: 32px !important;
}

.pr18 {
    padding-right: 36px !important;
}

.pr20 {
    padding-right: 40px !important;
}

.pr25 {
    padding-right: 50px !important;
}

.pr30 {
    padding-right: 60px !important;
}

.pr35 {
    padding-right: 70px !important;
}

.pr80 {
    padding-right: 160px !important;
}

.prn {
    padding-right: 0 !important;
}

.pn {
    padding: 0 !important;
}

.p3 {
    padding: 6px !important;
}

.p5 {
    padding: 10px;
}

.p8 {
    padding: 16px !important;
}

.p10 {
    padding: 20px;
}

.p15 {
    padding: 30px;
}

.p20 {
    padding: 40px;
}

.p25 {
    padding: 50px;
}

.p30 {
    padding: 60px;
}

.p35 {
    padding: 70px;
}


/* Margin Helpers */

.mt-1 {
    margin-top: -2px !important;
}

.mt-2 {
    margin-top: -4px !important;
}

.mt-3 {
    margin-top: -6px !important;
}

.mt-5 {
    margin-top: -10px !important;
}

.mt-10 {
    margin-top: -20px !important;
}

.mt2 {
    margin-top: 4px !important;
}

.mt3 {
    margin-top: 6px !important;
}

.mt4 {
    margin-top: 8px !important;
}

.mt5 {
    margin-top: 10px !important;
}

.mt6 {
    margin-top: 12px !important;
}

.mt7 {
    margin-top: 14px !important;
}

.mt8 {
    margin-top: 16px !important;
}

.mt10 {
    margin-top: 20px !important;
}

.mt12 {
    margin-top: 24px !important;
}

.mt15 {
    margin-top: 30px !important;
}

.mt20 {
    margin-top: 40px !important;
}

.mt25 {
    margin-top: 50px !important;
}

.mt30 {
    margin-top: 60px !important;
}

.mt35 {
    margin-top: 70px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb3 {
    margin-bottom: 6px !important;
}

.mb4 {
    margin-bottom: 8px !important;
}

.mb5 {
    margin-bottom: 10px !important;
}

.mb6 {
    margin-bottom: 12px !important;
}

.mb7 {
    margin-bottom: 14px !important;
}

.mb8 {
    margin-bottom: 16px !important;
}

.mb10 {
    margin-bottom: 20px !important;
}

.mb12 {
    margin-bottom: 24px !important;
}

.mb15 {
    margin-bottom: 30px !important;
}

.mb18 {
    margin-bottom: 36px !important;
}

.mb20 {
    margin-bottom: 40px !important;
}

.mb25 {
    margin-bottom: 50px !important;
}

.mb30 {
    margin-bottom: 60px !important;
}

.mb35 {
    margin-bottom: 70px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.ml3 {
    margin-left: 6px !important;
}

.ml5 {
    margin-left: 10px !important;
}

.ml6 {
    margin-left: 12px !important;
}

.ml8 {
    margin-left: 16px !important;
}

.ml10 {
    margin-left: 20px !important;
}

.ml15 {
    margin-left: 30px !important;
}

.ml18 {
    margin-left: 36px !important;
}

.ml12 {
    margin-left: 24px !important;
}

.ml20 {
    margin-left: 40px !important;
}

.ml25 {
    margin-left: 50px !important;
}

.ml30 {
    margin-left: 60px !important;
}

.ml35 {
    margin-left: 70px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr5 {
    margin-right: 10px !important;
}

.mr6 {
    margin-right: 12px !important;
}

.mr8 {
    margin-right: 16px !important;
}

.mr10 {
    margin-right: 20px !important;
}

.mr15 {
    margin-right: 30px !important;
}

.mr18 {
    margin-right: 36px !important;
}

.mr12 {
    margin-right: 24px !important;
}

.mr20 {
    margin-right: 40px !important;
}

.mr25 {
    margin-right: 50px !important;
}

.mr30 {
    margin-right: 60px !important;
}

.mr35 {
    margin-right: 70px !important;
}

.mr75 {
    margin-right: 150px !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mauto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.m-0 {
    margin: 0 auto !important;
}

.mn {
    margin: 0 !important;
}

.m5 {
    margin: 10px !important;
}

.m8 {
    margin: 16px !important;
}

.m10 {
    margin: 20px !important;
}

.m15 {
    margin: 30px !important;
}

.m20 {
    margin: 40px !important;
}

.fl,
.float-left {
    float: left;
}

.fr,
.float-right {
    float: right;
}

.float-hidden {
    overflow: hidden;
}

.clear {
    clear: both;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.fixed {
    z-index: 10;
    position: fixed !important;
}

.initial {
    position: initial !important;
}


/*位置*/

.top,
.top5,
.top8,
.top10,
.top12,
.top15,
.top20,
.top25,
.top30,
.top35,
.top44,
.left,
.left5,
.left8,
.left10,
.left12,
.left15,
.left20,
.left25,
.left30,
.left35,
.right,
.right5,
.right8,
.right10,
.right12,
.right15,
.right20,
.right25,
.right30,
.right35,
.bottom,
.bottom5,
.bottom8,
.bottom10,
.bottom12,
.bottom15,
.bottom20,
.bottom25,
.bottom30,
.bottom35,
.axis-center,
.axis-x-center,
.axis-y-center {
    position: absolute;
}

.top {
    top: 0;
}

.top5 {
    top: 10px;
}

.top8 {
    top: 16px;
}

.top10 {
    top: 20px;
}

.top12 {
    top: 24px;
}

.top15 {
    top: 30px;
}

.top20 {
    top: 40px;
}

.top25 {
    top: 50px;
}

.top30 {
    top: 60px;
}

.top35 {
    top: 70px;
}

.left {
    left: 0;
}

.left5 {
    left: 10px;
}

.left8 {
    left: 16px;
}

.left10 {
    left: 20px;
}

.left12 {
    left: 24px;
}

.left15 {
    left: 30px;
}

.left20 {
    left: 40px;
}

.left25 {
    left: 50px;
}

.left30 {
    left: 60px;
}

.left35 {
    left: 70px;
}

.right {
    right: 0;
}

.right3 {
    right: 6px;
}

.right4 {
    right: 8px;
}

.right5 {
    right: 10px;
}

.right8 {
    right: 16px;
}

.right10 {
    right: 20px;
}

.right12 {
    right: 24px;
}

.right15 {
    right: 30px;
}

.right20 {
    right: 40px;
}

.right25 {
    right: 50px;
}

.right30 {
    right: 60px;
}

.right35 {
    right: 70px;
}

.bottom {
    bottom: 0;
}

.bottom5 {
    bottom: 10px;
}

.bottom8 {
    bottom: 16px;
}

.bottom10 {
    bottom: 20px;
}

.bottom12 {
    bottom: 24px;
}

.bottom15 {
    bottom: 30px;
}

.bottom20 {
    bottom: 40px;
}

.bottom25 {
    bottom: 50px;
}

.bottom30 {
    bottom: 60px;
}

.bottom35 {
    bottom: 70px;
}

.bottom50 {
    bottom: 100px;
}

.axis-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.axis-x-center {
    left: 50%;
    transform: translateX(-50%);
}

.axis-y-center {
    top: 50%;
    transform: translateY(-50%);
}


/* Vertical Align Helpers */

.va-t {
    vertical-align: top !important;
}

.va-m {
    vertical-align: middle !important;
}

.va-tt {
    vertical-align: text-top !important;
}

.va-tb {
    vertical-align: text-bottom !important;
}

.va-center {
    align-items: center;
}

.va-b {
    vertical-align: bottom !important;
}

.va-s {
    vertical-align: super !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
    display: block;
    text-align-last: justify;
}

.text-center {
    text-align: center;
}


/* Vertical Align Helpers */

.va-t {
    vertical-align: top !important;
}

.va-m {
    vertical-align: middle !important;
}

.va-tt {
    vertical-align: text-top !important;
}

.va-tb {
    vertical-align: text-bottom !important;
}

.va-center {
    align-items: center;
}

.va-b {
    vertical-align: bottom !important;
}

.va-s {
    vertical-align: super !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
    display: block;
    text-align-last: justify;
}

.text-center {
    text-align: center;
}

.opacity0 {
    opacity: 0 !important;
}

.opacity3 {
    opacity: 0.3 !important;
}

.max-width-full {
    max-width: 100% !important;
}

.height0 {
    overflow: hidden !important;
    min-height: 0 !important;
    height: 0 !important;
}

.height100vh {
    min-height: 100vh !important;
}

.height {
    height: 100% !important;
}

.mintabh100vh {
    min-height: calc(100vh - 100rpx) !important;
}

.minnavh100vh {
    min-height: calc(100vh - 88rpx) !important;
}

.width-full {
    width: 100%;
}

.width-auto {
    width: auto !important;
}


/* Text Helpers */

.fwn {
    font-weight: normal !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw300 {
    font-weight: 300 !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw900 {
    font-weight: 900 !important;
}

.small {
    font-size: 80%;
}

.f0 {
    font-size: 0 !important;
}

.fs9 {
    font-size: 18px !important;
}

.fs10 {
    font-size: 20px !important;
}

.fs11 {
    font-size: 22px !important;
}

.fs12 {
    font-size: 24px !important;
}

.fs13 {
    font-size: 26px !important;
}

.fs14 {
    font-size: 28px !important;
}

.fs15 {
    font-size: 30px !important;
}

.fs16 {
    font-size: 32px !important;
}

.fs17 {
    font-size: 34px !important;
}

.fs18 {
    font-size: 36px !important;
}

.fs19 {
    font-size: 38px !important;
}

.fs20 {
    font-size: 40px !important;
}

.fs22 {
    font-size: 44px !important;
}

.fs23 {
    font-size: 46px !important;
}

.fs24 {
    font-size: 48px !important;
}

.fs25 {
    font-size: 50px !important;
}

.fs26 {
    font-size: 52px !important;
}

.fs28 {
    font-size: 56px !important;
}

.fs30 {
    font-size: 60px !important;
}

.fs32 {
    font-size: 64px !important;
}

.fs36 {
    font-size: 72px !important;
}

.fs40 {
    font-size: 80px !important;
}

.fs45 {
    font-size: 90px !important;
}

.fs50 {
    font-size: 100px !important;
}

.fs60 {
    font-size: 120px !important;
}

.fs80 {
    font-size: 160px !important;
}


/* LineHeight Helpers */

.lh1 {
    line-height: 1 !important;
}

.lh0 {
    line-height: 0 !important;
}

.lh12 {
    line-height: 1.2 !important;
}

.lh13 {
    line-height: 1.3 !important;
}

.lh14 {
    line-height: 1.4 !important;
}

.lh15 {
    line-height: 1.5 !important;
}

.lh18 {
    line-height: 1.8 !important;
}